.img_circle {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    margin-right: 10px;
}

.img_circle img {
    border-radius: 100%;
    border: 1px solid black;

}

div {
    font-size: 14px;
}
label {
    text-align: left;
}
.weui-media-box:before{
display: none;
}
input {
    margin-left: 20px;
}

.circle {
    width: 40px;
    height: 40px;
    background: grey;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
}
.visit_btn{
    font-size: 16px;
}
.myfirst {
    padding:1em;
    border-left: .2em solid #f7f7f7;
    /*border-right: 1em solid #f7f7f7;*/
    border-top: .5em solid #f7f7f7;
    border-radius: 1em;
    border-image: -webkit-linear-gradient(-180deg, rgba(255,255,255,0.00) 0%,#19AD1A 20%, rgba(255,255,255,0.00) 99%) 2 2 2 2;
    border-image: -moz-linear-gradient(-180deg, rgba(255,255,255,0.00) 0%,#19AD1A 20%, rgba(255,255,255,0.00) 99%) 2 2 2 2;
    border-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%,#19AD1A 20%, rgba(255,255,255,0.00) 99%) 2 2 2 2;

}
.weui-cells_checkbox_cus .weui-check-cus:checked+.weui-icon-checked:before {
    content: '\EA06';
    color: #09bb07;
}

.weui-cells_checkbox_cus .weui-icon-checked:before {
    content: '\EA01';
    color: #c9c9c9;
    font-size: 23px;
    display: block;
}
.weui-check-cus {
    position: absolute;
    right: 18px;
    top: 14px;
    height: 24px;
    width: 24px;
    opacity: 0;
}