<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>软件园访客</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/2.0.1/style/weui.min.css"/>
    <style type="text/css">
        @import url("css/style.css");
    </style>
</head>

<body style="background-color: white">
<header  align="center">
   <img src="images/ruanjianyuanLogo.png" style="width: 45%;height: 35%;margin-top: 18%" >
</header>
<div class="wrap dowebok">
    <div class="grids has-more dwo-mt10">
        <div class="grids-title dwo-title">
            <h2>访客服务</h2>
        </div>
        <div class="weui-grids">
            <a href="visit"  class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img  src="images/fw.png" alt="">
                </div>
                <p class="weui-grid__label">
                    访问
                </p>
            </a>
            <a href="invite" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="images/yy.png" alt="">
                </div>
                <p class="weui-grid__label">
                    邀约
                </p>
            </a>
            <a href="firstrecord" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="images/lsjl.png" alt="">
                </div>
                <p class="weui-grid__label">
                    访客记录
                </p>
            </a>
            <a id="auth" href="auth3" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="images/srrz.png" alt="">
                </div>
                <p class="weui-grid__label">
                    实人认证
                </p>
            </a>
            <a href="clear1" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="images/qchc.png" alt="">
                </div>
                <p class="weui-grid__label">
                    清除缓存
                </p>
            </a>
        </div>
    </div>
</div>

    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="js/myUtil.js"></script>
    <script>
        $(function() {
            // var wxId = getQueryString("wxId");
            // var openId = getQueryString("openId");
            // if (!isLogin("index"+"?"+"wxId="+wxId+",openId="+openId)) {
            // $('#auth').attr('href','auth3?userId='+getCookie("userId"));
            setCookie('wxId', '[[${wxId}]]', 365);
            setCookie('otherOpenId', '[[${otherOpenId}]]', 365);
            // }
            bindOther();
            if ("T"==getCookie("isAuth")) {
                $('#auth').hide();
            }
        });

        //获取上个页面传过来的参数
        // function getQueryString(name) {
        //     var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        //     var r = window.location.search.substr(1).match(reg);
        //     if (r != null) {
        //         return unescape(r[2]);
        //     }
        //     return null;
        // }
    </script>

</body>
</html>