<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/2.0.1/style/weui.min.css"/>

<!--    <link rel="stylesheet" href="css/weui.css"/>-->
    <link rel="stylesheet" href="css/weuix.css"/>



</head>

<body ontouchstart>
<div class="page-hd">
    <h1 class="page-hd-title">
        受访人信息填写
    </h1>
    <p class="page-hd-desc"></p>
</div>

<!--<div class="weui-cells__title">表单</div>-->

<div class="weui-cells weui-cells_form">

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入拜访者姓名" type="text" id="user" onBlur ="post()" value="" visitorId="">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入手机号" type="tel" id="phone" onBlur="post()" value="">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="startTime" class="weui-label">访问开始时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="startTime" type="text" value="" data-valus="123" >
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="endTime" class="weui-label">访问结束时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="endTime" type="text" value="">
        </div>
    </div>
    <!--    <a onclick="post()" href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">查询拜访者</a>-->

    <!--    <div class="weui-cell">-->
    <!--        <div class="weui-cell__hd"><label for="company" class="weui-label">拜访者公司</label></div>-->
    <!--        <div class="weui-cell__bd">-->
    <!--            <input class="weui-input" id="company" placeholder="点击选择" type="text" value="">-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="weui-cells__title weui-start"> 拜访原因</div>
    <div class="weui-form">
        <div class="weui-form-li">
            <textarea class="weui-form-area" placeholder="请输入拜访原因" name="f6" rows="5" cols="60" id="reason"></textarea>
        </div>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_disabled weui-btn_default" href="javascript:" id="btn"  >确定</a>
    </div>
    <br>
    <br>
<!--    <div class="weui-footer weui-footer_fixed-bottom">-->
<!--        <p class="weui-footer__links">-->
<!--            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx2a1951f46acc4371&redirect_uri=http%3A%2F%2f.pyblkj.cn%2Fweixin%2Flogin&response_type=code&scope=snsapi_base&state=visit&connect_redirect=1#wechat_redirect" class="weui-footer__link">重新登入</a>-->
<!--        </p>-->
<!--        <p class="weui-footer__text">Copyright &copy; Yoby</p>-->
<!--    </div>-->
</div>
<script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="js/zepto.weui.min.js"></script>
<script src="js/php.js"></script>
<script src="js/myUtil.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

<script>
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '[[${config.appid}]]', // 必填，公众号的唯一标识
        timestamp:'[[${config.timestamp}]]' , // 必填，生成签名的时间戳
        nonceStr: '[[${config.noncestr}]]', // 必填，生成签名的随机串
        signature: '[[${config.signature}]]',// 必填，签名
        jsApiList: ['[[${config.jsApiList[0]}]]','[[${config.jsApiList[1]}]]',
            '[[${config.jsApiList[2]}]]','[[${config.jsApiList[3]}]]','[[${config.jsApiList[4]}]]'] // 必填，需要使用的JS接口列表 这里填写需要用到的微信api openlocation为使用微信内置地图查看位置接口
    });
    wx.ready(function () {
        wx.checkJsApi({
            jsApiList: ['[[${config.jsApiList[0]}]]','[[${config.jsApiList[1]}]]'],
            success: function (res) {
                console.log(res)
            }
        });
    });
    wx.error(function(res){
        console.log(res);
    });
    $(function(){

       if (isEmpty(getCookie('userId'))||isEmpty(getCookie('token'))){
           alert("请先登入");
           window.location.href=loginUrl;
       }

        $(".weui-payselect-li").on('click',function(){
            $(this).children().addClass("weui-payselect-on");
            $(this).siblings().children().removeClass("weui-payselect-on");
            return false;
        })
        $("#startTime").val(formatDateTime(0,0,0));
        $("#endTime").val(formatDateTime(0,0,1));
        //解决表单控件不能回弹 只有微信ios有这个问题
        $("input,select,textarea").blur(function(){
            setTimeout(() => {
                const scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0;
            window.scrollTo(0, Math.max(scrollHeight - 1, 0));
        }, 100);
        })

    });

    function post(){
        // $.showLoading();
        var user = $("#user").val();
        var phone = $("#phone").val();
        if(user=="") {
            $.toptip("拜访姓名不能为空");
            return;
        }
        if(phone=="") {
            $.toptip("手机号不能为空");
            return;
        }
        if ($("#startTime").val()>=$("#endTime").val()){
            $.toptip("开始时间不能大于等于结束时间");
            return;
        }
            $.ajax({
            type: 'POST',
            contentType: "application/x-www-form-urlencoded",
            url: "user/namePhone",
            data: {realName:$("#user").val(),
                phone:$("#phone").val()},
            success: function(result) {
                // $.hideLoading();
                console.log(result);
                var data=result.data;
                console.log(data);
                if (result.code==400){
                    $.toptip(result.message);
                    $.toptip(result.data);
                    if ('verifyFail'==result.data){
                        window.location.href=authUrl;
                    }

                }else if (data!=null) {
                    $.toptip("可进行邀约",'success');
                    //按钮变亮并且移除无法点击
                    $("#btn").removeClass().addClass("weui-btn weui-btn_primary").attr("onclick","visit()");
                    $("#user").attr("visitorId",data[0].id);
                    // console.log(data[0]);
                    // var datalist = new Array;
                    // for (var i = 0; i < data.length; i++) {
                    //
                    //     // console.log(i);
                    //     var info = { "title": data[i].companyname, "value": data[i].id,"orgCode":data[i].org[0].orgCode} ;
                    //     datalist.push(info);
                    //     if (data[i].id==data[i].users[0].companyId) {
                    //
                    //         $("#company").val(data[i].companyname);
                    //
                    //     }
                    //     console.log( $("#company").val());
                    // }
                    // console.log(datalist);
        //             $("#company").select({
        //                 title: "选择拜访者公司",
        //                 // multi: true,
        //                 items: datalist,
        //                 onChange: function(d) {
        //                             //
        //                             console.log(this, d);
        //                             console.log( d);
        //                             // console.log(this, d);
        //                         },
        //                 onClose: function() {
        //                             console.log("close");
        //                     console.log($("#company").attr("data-values"));
        //
        //                         },
        //                 onOpen: function() {
        //                             console.log("open");
        //                     console.log($("#company").data);
        //                         },
        //             });
        //
                }else {
                    $.toptip("系统错误");
                }
            }
        });

    }
    //访问
    function visit(){
        $.showLoading();
        var user = $("#user").val();
        var phone = $("#phone").val();
        if(user=="") {
            $.toptip("拜访姓名不能为空");
            return;
        }
        if(phone=="") {
            $.toptip("手机号不能为空");
            return;
        }
        if ($("#startTime").val()>=$("#endTime").val()){
            $.toptip("开始时间不能大于等于结束时间");
            return;
        }
        $.ajax({
            type: 'POST',
            contentType: "application/x-www-form-urlencoded",
            url: "visit/record/visitRequest",
            data: {
                //从跳转页获取用户id
                userId: getCookie('userId'),
                visitorId: $("#user").attr("visitorId"),
                // companyId: $("#company").attr("data-values"),
                reason: $("#reason").val(),
                startDate: $("#startTime").val(),
                endDate: $("#endTime").val(),
                token: getCookie('token')
                // orgCode: $("#orgCode").attr("orgCode")
            },
            success: function(result) {
                $.hideLoading();
                var data = result.data;
                console.log(result);
                if (result.code==400){
                    setCookie('visitorId',$("#user").attr("visitorId"));
                    setCookie('reason',$("#reason").val());
                    setCookie('startTime',$("#startTime").val());
                    setCookie('endTime',$("#endTime").val());
                    $.toptip(result.message);
                    //登入过期
                    if (data=='overTime'){
                        window.location.href=loginUrl;
                        $.showLoading();
                        //实名认证失败
                    }else if ('verifyFail'==data){

                        window.location.href=authUrl;
                        $.showLoading();
                    }else if ('tokenFail'==data){
                        window.location.href=loginUrl;
                        $.showLoading();
                    }else if ('userFail'==data) {
                        window.location.href=loginUrl;
                        $.showLoading();
                    }
                }else{
                    $.toast("发起访问成功",'success');
                    alert("发起访问成功，对方同意后将在《朋悦比邻》公众号提示，请注意查收！");
                   wx.closeWindow();
                }
            }
        });

    }
    var timeout = 5;
    function show() {
        $.toast("访问成功,"+timeout+"秒后关闭",'success');
        // $.showLoading();
        timeout--;
        if (timeout == 0) {
            window.opener = null;
            window.close();
        }
        else {
            setTimeout("show()", 1000);
        }

    }
    function formatDateTime(year,day,hours) {
        var date = new Date();
        var y = date.getFullYear()+year;
        var m = date.getMonth() + 1;
        m = m < 10 ? ('0' + m) : m;
        var d = date.getDate()-day;
        d = d < 10 ? ('0' + d) : d;
        var h = date.getHours()+hours;
        h = h < 10 ? ('0' + h) : h;
        var minute = date.getMinutes();
        var second = date.getSeconds();
        minute = minute < 10 ? ('0' + minute) : minute;
        // second = second < 10 ? ('0' + second) : second;

        return y + '-' + m + '-' + d+' '+h+':'+minute;
        //2017-12-12 12:23:34
    }

    function textarea(input) {
        var content = $(input);
        var max =  content.next().find('i') .text();
        var value = content.val();
        if (value.length>0) {

            value = value.replace(/\n|\r/gi,"");
            var len = value.length;
            content.next().find('span').text(len) ;
            if(len>max){
                content.next().addClass('f-red');
            }else{
                content.next().removeClass('f-red');
            }
        }
    }

    $("#startTime").datetimePicker({

        title: '访问时间',
        min:  formatDateTime(0,1,0),
        max:  formatDateTime(1,0,0),
        onChange: function (picker, values, displayValues) {
            console.log(values);
            console.log($("#startTime").val());

        }
    });
    $("#endTime").datetimePicker({

        title: '访问时间',
        min:  formatDateTime(0,1,1),
        max:  formatDateTime(1,0,1),
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    });
</script>
</body>
</html>