<!DOCTYPE html>
<html>
<head>
    <title>发起访问</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style type="text/css">
        @import url("css/comon.css");
    </style>
    <title>
        <h3 class="demos-title">访问</h3>
    </title>

</head>

<body ontouchstart>
<!--<div class="weui-flex">-->
<!--    <div class="weui-flex__item"><a href="javascript:;" class="weui-btn weui-btn_default" onclick='visit1()' style="background-color: #EFEFF4" id="visit1"><font size="3">联系人访问</font></a></div>-->
<!--    <div class="weui-flex__item"><a href="javascript:;" class="weui-btn weui-btn_default" onclick='visit2()' style="background-color: #f7f7f7" id="visit2"><font size="3">地址访问</font></a></div>-->
<!--</div>-->
<!--联系人访问界面-->
<div class="weui-cells weui-cells_form" id="pvisit" style="display:block">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">受访人姓名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="visitorName" type="text" placeholder="请输入受访人姓名" onkeyup="autocompletename()"
                   visitorId="" flag="-1" onautocomplete="on">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">受访人手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="visitorPhone" type="tel" placeholder="请输入受访人手机号" onBlur="postNP()">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="start-time" class="weui-label">开始时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="start-time" type="text" value="" placeholder="">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="hour" class="weui-label">时长/小时</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="hour" type="text" value="">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="reason" class="weui-label">访问事由</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="reason" type="text" value="">
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">发起访问</a>
    </div>

    <div class="weui-tab">
        <div class="weui-navbar">
            <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                常用联系人
            </a>
            <a class="weui-navbar__item" href="#tab2" onclick="getRecord()">
                访问邀约记录
            </a>
        </div>
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="weui-search-bar" id="searchBar">
                    <form class="weui-search-bar__form" action="#">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索"
                                   required="">
                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                        </div>
                        <label class="weui-search-bar__label" id="searchText"
                               style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                            <i class="weui-icon-search"></i>
                            <span>搜索</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel"
                       onclick="getContacts('')">取消</a>
                </div>

                <!-- 联系人列表-->
                <div id="contactPerson"></div>
                <!--<div class="weui-cells">
                    <div class="weui-cell">
                      <div class="weui-cell__hd"><img src=""></div>
                        <div class="weui-cell__bd">
                            <p>data[i].realname</p>
                        </div>
                        <div class="weui-cell__ft">
                            <i onclick="addPersonInfo('personData')">+</i>
                        </div>
                    </div>
                </div>
-->
            </div>
            <div id="tab2" class="weui-tab__bd-item">
                <div class="list-main-mian weui-form-preview infinite weui-pull-to-refresh" id="listwrap"
                     style="height:100%; margin-top: 1px;overflow:auto;  z-index: 1">
                    <!--    内容展示区-->
                    <div class="weui-form-preview" id="recorddiv">
                    </div>
                    <div class="weui-loadmore" id="loading" style="padding-bottom:30px;height:20px;display: none">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                    <div class="weui-loadmore weui-loadmore_line" id="over"
                         style="padding-bottom:30px;height:20px;display: none">
                        <span class="weui-loadmore__tips">没有更多数据了</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--地址访问界面-->
<div class="weui-cells weui-cells_form" id="addrvisit" style="display: none">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">企业/单位地址</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="companyAddr" type="text" placeholder="请输入" onkeyup="autoFindCompanyAddr()" onautocomplete="on">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">企业/单位名称</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="companyName" type="text" placeholder="请输入" onkeyup="autoFindCompanyName()">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">受访人姓名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="visit2Name" type="text" placeholder="请输入">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="visit2Time" class="weui-label">开始时间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="visit2Time" type="text" value="" placeholder="">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="visit2Hour" class="weui-label">时长/小时</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="visit2Hour" type="text" value="" placeholder="请选择">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="visit2Reason" class="weui-label">访问事由</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="visit2Reason" type="text" value="" placeholder="">
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="visitByAddr">发起访问</a>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="js/myUtil.js"></script>
<script src="js/visit.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>

    // $(function () {
    //     $("#visit2Time").val(formatDateTime(0, 0, 0));
    // });
    // function visit1() {
    //     document.getElementById("pvisit").style.display = 'block';
    //     document.getElementById("visit1").style.background = '#EFEFF4';
    //     document.getElementById("visit2").style.background = '#f7f7f7';
    //     document.getElementById("addrvisit").style.display = 'none';
    // }
    // function visit2() {
    //     document.getElementById('pvisit').style.display = 'none';
    //     document.getElementById("visit1").style.background = '#f7f7f7';
    //     document.getElementById("visit2").style.background = '#EFEFF4';
    //     document.getElementById('addrvisit').style.display = 'block';
    // }
    // $("#visit2Reason").picker({
    //     title: "请选择拜访事由",
    //     cols: [
    //         {
    //             textAlign: 'center',
    //             values: ['商务拜访', '配送服务', '面试', '找人', '其他']
    //         }
    //     ],
    //     onChange: function (p, v, dv) {
    //         console.log(p, v, dv);
    //     },
    //     onClose: function (p, v, d) {
    //         console.log("close");
    //     }
    // });
    // $("#visit2Hour").picker({
    //     title: "请选择拜访时长",
    //     cols: [
    //         {
    //             textAlign: 'center',
    //             values: ['0.5', '1', '1.5', '2', '2.5', '3', '3.5', '4', '4.5', '5', '5.5', '6']
    //         }
    //     ],
    //     onChange: function (p, v, dv) {
    //         console.log(p, v, dv);
    //     },
    //     onClose: function (p, v, d) {
    //         console.log("close");
    //     }
    // });
    // $("#visit2Time").datetimePicker();
    //
    // /*地址输入出现下拉选择*/
    // function autoFindCompanyAddr() {
    //     console.log($("#companyAddr").val());
    //     var addr = [];
    //     $.ajax({
    //         type: 'POST',
    //         contentType: "application/x-www-form-urlencoded",
    //         url: "company/findCompanyAddr",
    //         data: {
    //             addr: $("#companyAddr").val(),
    //         },
    //         success: function (result) {
    //             console.log(result)
    //             if(result.data.length>0){
    //                 for(var i in result.data){
    //                     addr.push(result.data[i].addr)
    //                 }
    //             }
    //         }
    //     });
    //     $("#companyAddr").autocomplete({
    //         source:addr,
    //         select :function (event,ui) {
    //             console.log(ui.item);
    //         }
    //     })
    // }
    // /*地址名输入出现下拉选择*/
    // function autoFindCompanyName() {
    //     console.log($("#companyName").val());
    //     var companyName = [];
    //     $.ajax({
    //         type: 'POST',
    //         contentType: "application/x-www-form-urlencoded",
    //         url: "company/findCompany",
    //         data: {
    //             companyName: $("#companyName").val(),
    //         },
    //         success: function (result) {
    //             console.log(result)
    //             if(result.data.length>0){
    //                 for(var i in result.data){
    //                     companyName.push(result.data[i].companyname)
    //                 }
    //             }
    //         }
    //
    //     });
    //    $("#companyName").autocomplete({
    //         source:companyName,
    //         select :function (event,ui) {
    //             console.log(ui.item);
    //         }
    //     })
    // }

</script>
</body>
</html>
