<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CompanyUserMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.CompanyUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="companyId" jdbcType="BIGINT" property="companyId" />
    <result column="sectionId" jdbcType="BIGINT" property="sectionid" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="postId" jdbcType="BIGINT" property="postid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="createDate" jdbcType="VARCHAR" property="createdate" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="roleType" jdbcType="VARCHAR" property="roletype" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="currentStatus" jdbcType="VARCHAR" property="currentstatus" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="secucode" jdbcType="VARCHAR" property="secucode" />
    <result column="authtype" jdbcType="VARCHAR" property="authtype" />
  </resultMap>
  <!-- 单向关联菜单按钮 -->
  <sql id="companyUserOrg">
   c.id cid,c.companyName,o.org_code,u.companyId userCompany,u.id uid
  </sql>
  <select id="findByUserId" parameterType="Long" resultMap="ResultCompanyUserMap">
    select
    <include refid="companyUserOrg" />
    from tbl_company_user cu,tbl_company c,t_org o,tbl_user u
    where
    cu.companyId=c.id
    and o.id=c.orgId
    and u.id=cu.userId
    and cu.userId=#{userId}
  </select>
  <resultMap id="ResultCompanyUserMap" type="com.company.project.model.CompanyUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="companyId" jdbcType="BIGINT" property="companyid" />
    <result column="sectionId" jdbcType="BIGINT" property="sectionid" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="postId" jdbcType="BIGINT" property="postid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="createDate" jdbcType="VARCHAR" property="createdate" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="roleType" jdbcType="VARCHAR" property="roletype" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="currentStatus" jdbcType="VARCHAR" property="currentstatus" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="secucode" jdbcType="VARCHAR" property="secucode" />
    <result column="authtype" jdbcType="VARCHAR" property="authtype" />
    <collection property="company" ofType="com.company.project.model.Company">
        <id column="cid" jdbcType="BIGINT" property="id" />
      <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    </collection>
    <collection property="org" ofType="com.company.project.model.Org">

      <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    </collection>
    <collection property="users" ofType="com.company.project.model.User">

        <id column="uid" jdbcType="BIGINT" property="id" />
        <result column="userCompany" jdbcType="BIGINT" property="companyId" />
    </collection>

  </resultMap>
</mapper>