<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.OtherWxMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.otherWx">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="wx_value" jdbcType="VARCHAR" property="wxValue" />
    <result column="wx_name" jdbcType="VARCHAR" property="wxName" />
    <result column="service_url" jdbcType="VARCHAR" property="serviceUrl" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
  </resultMap>
</mapper>