<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.VisitRecordMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.VisitRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="visitDate" jdbcType="VARCHAR" property="visitDate" />
    <result column="visitTime" jdbcType="VARCHAR" property="visitTime" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="visitorId" jdbcType="BIGINT" property="visitorId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="cstatus" jdbcType="VARCHAR" property="cstatus" />
    <result column="dateType" jdbcType="VARCHAR" property="dateType" />
    <result column="startDate" jdbcType="VARCHAR" property="startDate" />
    <result column="endDate" jdbcType="VARCHAR" property="endDate" />
    <result column="answerContent" jdbcType="VARCHAR" property="answerContent" />
    <result column="orgCode" jdbcType="VARCHAR" property="orgCode" />
    <result column="companyId" jdbcType="BIGINT" property="companyId" />
    <result column="recordType" jdbcType="INTEGER" property="recordType" />
    <result column="replyDate" jdbcType="VARCHAR" property="replyDate" />
    <result column="replyTime" jdbcType="VARCHAR" property="replyTime" />
    <result column="vitype" jdbcType="VARCHAR" property="vitype" />
    <result column="replyUserId" jdbcType="BIGINT" property="replyUserId" />
    <result column="isReceive" jdbcType="VARCHAR" property="isReceive" />
  </resultMap>
  <resultMap id="visitorMessageResultMap" type="com.company.project.model.VisitRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="visitDate" jdbcType="VARCHAR" property="visitDate" />
    <result column="visitTime" jdbcType="VARCHAR" property="visitTime" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="visitorId" jdbcType="BIGINT" property="visitorId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="cstatus" jdbcType="VARCHAR" property="cstatus" />
    <result column="dateType" jdbcType="VARCHAR" property="dateType" />
    <result column="startDate" jdbcType="VARCHAR" property="startDate" />
    <result column="endDate" jdbcType="VARCHAR" property="endDate" />
    <result column="answerContent" jdbcType="VARCHAR" property="answerContent" />
    <result column="orgCode" jdbcType="VARCHAR" property="orgCode" />
    <result column="companyId" jdbcType="BIGINT" property="companyId" />
    <result column="recordType" jdbcType="INTEGER" property="recordType" />
    <result column="replyDate" jdbcType="VARCHAR" property="replyDate" />
    <result column="replyTime" jdbcType="VARCHAR" property="replyTime" />
    <result column="vitype" jdbcType="VARCHAR" property="vitype" />
    <result column="replyUserId" jdbcType="BIGINT" property="replyUserId" />
    <result column="isReceive" jdbcType="VARCHAR" property="isReceive" />
    <collection property="user" ofType="com.company.project.model.User">
      <result column="realName" jdbcType="VARCHAR" property="realname" />
    </collection>
    <collection property="company" ofType="com.company.project.model.Company">
      <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    </collection>
  </resultMap>
  <resultMap id="visitorDetailResultMap" type="com.company.project.model.VisitRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="visitDate" jdbcType="VARCHAR" property="visitDate" />
    <result column="visitTime" jdbcType="VARCHAR" property="visitTime" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="visitorId" jdbcType="BIGINT" property="visitorId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="cstatus" jdbcType="VARCHAR" property="cstatus" />
    <result column="dateType" jdbcType="VARCHAR" property="dateType" />
    <result column="startDate" jdbcType="VARCHAR" property="startDate" />
    <result column="endDate" jdbcType="VARCHAR" property="endDate" />
    <result column="answerContent" jdbcType="VARCHAR" property="answerContent" />
    <result column="orgCode" jdbcType="VARCHAR" property="orgCode" />
    <result column="companyId" jdbcType="BIGINT" property="companyId" />
    <result column="recordType" jdbcType="INTEGER" property="recordType" />
    <result column="replyDate" jdbcType="VARCHAR" property="replyDate" />
    <result column="replyTime" jdbcType="VARCHAR" property="replyTime" />
    <result column="vitype" jdbcType="VARCHAR" property="vitype" />
    <result column="replyUserId" jdbcType="BIGINT" property="replyUserId" />
    <result column="isReceive" jdbcType="VARCHAR" property="isReceive" />
    <result column="vstatus" jdbcType="VARCHAR" property="vstatus" />
  </resultMap>
  <sql id="visitorDetail">
        vr.*,realName,IF(companyName is null ,'',companyName) companyName
   </sql>
  <select id="record" parameterType="Long" resultMap="visitorMessageResultMap">
    select <include refid="visitorDetail" /> from tbl_visitor_record vr left join tbl_user u on vr.visitorId=u.id
    left join tbl_company c on c.id=vr.companyId
    where  userId=#{userId}
    union
    select <include refid="visitorDetail" /> from tbl_visitor_record vr left join tbl_user u on vr.userId=u.id
    left join tbl_company c on c.id=vr.companyId
    where  visitorId=#{userId}
  </select>

  <select id="recordDetail" parameterType="Long" resultMap="visitorMessageResultMap">
    select *,(case when DATE_FORMAT(endDate,'%Y-%m-%d %H:%i:%s')&lt;NOW() then '过期' else (case cstatus when 'Cancle' then '取消'  when 'applyFail' then '拒绝' when 'applySuccess' then '通过' else '待审核' end
    )  end )
    vstatus from (
    (select <include refid="visitorDetail" /> from tbl_visitor_record vr left join tbl_user u on vr.visitorId=u.id
    left join tbl_company c on c.id=vr.companyId
    where  userId=#{userId} and visitorId=#{visitorId} )
    union
    (select <include refid="visitorDetail" /> from tbl_visitor_record vr left join tbl_user u on vr.userId=u.id
    left join tbl_company c on c.id=vr.companyId
    where  visitorId=#{userId} and userId=#{visitorId}) )x

    ORDER BY startDate>NOW() desc,  IF(startDate > NOW(), FIELD(cstatus,'Cancle','applyFail',  'applySuccess','applyConfirm'), startDate ) desc,startDate desc,endDate asc
  </select>
</mapper>