<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.VisitRecordMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.VisitRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="visitDate" jdbcType="VARCHAR" property="visitDate" />
    <result column="visitTime" jdbcType="VARCHAR" property="visitTime" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="visitorId" jdbcType="BIGINT" property="visitorId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="cstatus" jdbcType="VARCHAR" property="cstatus" />
    <result column="dateType" jdbcType="VARCHAR" property="dateType" />
    <result column="startDate" jdbcType="VARCHAR" property="startDate" />
    <result column="endDate" jdbcType="VARCHAR" property="endDate" />
    <result column="answerContent" jdbcType="VARCHAR" property="answerContent" />
    <result column="orgCode" jdbcType="VARCHAR" property="orgCode" />
    <result column="companyId" jdbcType="BIGINT" property="companyId" />
    <result column="recordType" jdbcType="INTEGER" property="recordType" />
    <result column="replyDate" jdbcType="VARCHAR" property="replyDate" />
    <result column="replyTime" jdbcType="VARCHAR" property="replyTime" />
    <result column="vitype" jdbcType="VARCHAR" property="vitype" />
    <result column="replyUserId" jdbcType="BIGINT" property="replyUserId" />
    <result column="isReceive" jdbcType="VARCHAR" property="isReceive" />
  </resultMap>
  <resultMap id="visitorMessageResultMap" type="com.company.project.model.VisitRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="visitDate" jdbcType="VARCHAR" property="visitDate" />
    <result column="visitTime" jdbcType="VARCHAR" property="visitTime" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="visitorId" jdbcType="BIGINT" property="visitorId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="cstatus" jdbcType="VARCHAR" property="cstatus" />
    <result column="dateType" jdbcType="VARCHAR" property="dateType" />
    <result column="startDate" jdbcType="VARCHAR" property="startDate" />
    <result column="endDate" jdbcType="VARCHAR" property="endDate" />
    <result column="answerContent" jdbcType="VARCHAR" property="answerContent" />
    <result column="orgCode" jdbcType="VARCHAR" property="orgCode" />
    <result column="companyId" jdbcType="BIGINT" property="companyId" />
    <result column="recordType" jdbcType="INTEGER" property="recordType" />
    <result column="replyDate" jdbcType="VARCHAR" property="replyDate" />
    <result column="replyTime" jdbcType="VARCHAR" property="replyTime" />
    <result column="vitype" jdbcType="VARCHAR" property="vitype" />
    <result column="replyUserId" jdbcType="BIGINT" property="replyUserId" />
    <result column="isReceive" jdbcType="VARCHAR" property="isReceive" />
    <collection property="user" ofType="com.company.project.model.User">
      <result column="realName" jdbcType="VARCHAR" property="realname" />
    </collection>
    <collection property="company" ofType="com.company.project.model.Company">
      <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    </collection>
    <collection property="org" ofType="com.company.project.model.Org">
      <result column="addr" jdbcType="VARCHAR" property="addr" />
    </collection>
  </resultMap>
  <resultMap id="visitorDetailResultMap" type="com.company.project.model.VisitRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="visitDate" jdbcType="VARCHAR" property="visitDate" />
    <result column="visitTime" jdbcType="VARCHAR" property="visitTime" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="visitorId" jdbcType="BIGINT" property="visitorId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="cstatus" jdbcType="VARCHAR" property="cstatus" />
    <result column="dateType" jdbcType="VARCHAR" property="dateType" />
    <result column="startDate" jdbcType="VARCHAR" property="startDate" />
    <result column="endDate" jdbcType="VARCHAR" property="endDate" />
    <result column="answerContent" jdbcType="VARCHAR" property="answerContent" />
    <result column="orgCode" jdbcType="VARCHAR" property="orgCode" />
    <result column="companyId" jdbcType="BIGINT" property="companyId" />
    <result column="recordType" jdbcType="INTEGER" property="recordType" />
    <result column="replyDate" jdbcType="VARCHAR" property="replyDate" />
    <result column="replyTime" jdbcType="VARCHAR" property="replyTime" />
    <result column="vitype" jdbcType="VARCHAR" property="vitype" />
    <result column="replyUserId" jdbcType="BIGINT" property="replyUserId" />
    <result column="isReceive" jdbcType="VARCHAR" property="isReceive" />
    <result column="vstatus" jdbcType="VARCHAR" property="vstatus" />
  </resultMap>
    <sql id="record">
 vr.visitDate,
 vr.visitTime,
 vr.userId,
 vr.visitorId,
 vr.reason,
 vr.cstatus,
 vr.dateType,
 vr.startDate,
 vr.endDate,
 vr.answerContent,
 vr.orgCode,
 vr.companyId,
 vr.vitype,
 vr.recordType,
 if(replyDate is null,'',replyDate) replyDate,
 if(replyTime is null,'',replyTime) replyTime,
 vr.replyUserId,
 vr.isReceive,
 vr.isFlag,
 vr.remarkName,
 IF(companyName is null ,'',companyName) companyName,IF(o.addr is null ,'',o.addr) addr
   </sql>
  <sql id="visitorDetail">
      <include refid="record" />,if(userId=#{loginId},u.realName,vu.realName) realName,(case when DATE_FORMAT(endDate,'%Y-%m-%d %H:%i:%s')&lt;NOW() then 'expired' else (case cstatus when 'applyFail' then 'refuse' when 'applySuccess' then 'access' else 'unaudited' end ) end ) vstatus

   </sql>

  <select id="record" parameterType="Long" resultMap="visitorMessageResultMap">
select <include refid="record" />,if(userId=#{userId},u.realName,vu.realName) realName from  tbl_visitor_record vr
      LEFT JOIN tbl_user u ON vr.visitorId = u.id
      left join tbl_user vu on vr.userId=vu.id
      LEFT JOIN tbl_company c ON c.id = vr.companyId
      LEFT JOIN t_org o ON vr.orgCode = o.org_code

      where u.realName is not null and vu.realName is not null and   vr.id in(
	select IF(a.startDate>b.startDate,a.id,b.id) id from (
	select vr.id,vr.userId,vr.visitorId,vr.startDate,recordType
from tbl_visitor_record vr
inner join  (select visitorId,Max(startDate) startDate
from tbl_visitor_record where userId=#{userId}  GROUP BY visitorId)x
on x.visitorId=vr.visitorId and x.startDate =vr.startDate) a left join

(select vr.id,vr.userId,vr.visitorId,vr.startDate,recordType
from tbl_visitor_record vr
inner join  (select userId,Max(startDate) startDate
from tbl_visitor_record where visitorId=#{userId}  GROUP BY userId)x
on x.userId=vr.userId and x.startDate =vr.startDate)b on a.userId=b.visitorId and a.visitorId=b.userId)

  </select>

  <select id="recordDetail" parameterType="Long" resultType="map">
    select <include refid="visitorDetail" /> from tbl_visitor_record vr
    left join tbl_user u on vr.visitorId=u.id
    left join tbl_user vu on vr.userId=vu.id
    left join tbl_company c on c.id=vr.companyId
    left join t_org o on vr.orgCode=o.org_code
    where  (userId=#{visitorId} and visitorId=#{userId}) or(userId=#{userId} and visitorId=#{visitorId})
    ORDER BY startDate>NOW() desc,  IF(startDate > NOW(), FIELD(cstatus,'Cancle','applyFail',  'applySuccess','applyConfirm'), startDate ) desc,startDate desc,endDate asc
  </select>
</mapper>